/1-s2.0-S0031320325001633-main.pdf
/1-s2.0-S0893608025002813-main.pdf
/1-s2.0-S0925231224018381-main.pdf
/Claude outputs
/conference-template-a4.docx
/MAR20
/mar20_baseline.py
/mar20_test_metrics.json
/mar20_yolo
/MAR20_YOLO_Conference_A4.docx
/MAR20_YOLO_Conference_A4.pdf
/Military_Aircraft_YOLO_Conference_A4_Edited-enson.docx
/yolo11base.ipynb
/yolo11n.pt
/yolo12base.ipynb
/yolo12n.pt
/yolo26base.ipynb
/yolo26n.pt
/yolo8base.ipynb
/yolov5nu.pt
/yolov8n.pt
/__pycache__